/* Wave.css */
.wave {
    margin: 0;
    padding: 0;
    display: block; 
    margin-bottom: -2px;
  }
  
  .wave svg {
    display: block; 
    margin: 0;
    padding: 0;
    width: 100%; 
    height: auto; 
  }

  